@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

#piri-ai {
  @import "reset.scss";

  textarea,
  p,
  a {
    font-family: "Nunito Sans", sans-serif;
  }

  font-size: 15px;

  //main-window
  .window {
    position: fixed;
    height: 100%;
    background-color: #000;
    width: 360px;
    z-index: 999999999999999;
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    bottom: 0px;
    text-align: left;
  }

  .toggle {
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
  }

  .count {
    position: absolute;
    top: 0px;
    right: -3px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 50%;
    font-size: 12px;
    padding: 7px;
    width: 9px;
    height: 9px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  //header

  .header {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    z-index: 5;
    justify-content: space-between;
    color: rgb(154, 154, 154);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 15px 25px -13px rgba(0, 0, 0, 0.13);
    color: rgb(154, 154, 154);
    padding-left: 10px;
    padding-right: 10px;
    padding: 0 0.8rem;
  }

  .botinfo {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .botname {
    margin-left: 10px !important;
    margin-top: 2px;
    color: #757575;
  }

  .close {
    &:hover {
      background-color: #e0e0e0;
    }
    text-decoration: none;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
  }

  //chatbody
  .chatBody {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .botMessageWrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 29px;
    margin-top: 1px;

    .message {
      padding: 8px;
      border-radius: 10px;
      margin-top: 2px;
      color: #fff;
      word-break: break-word;
      position: relative;
    }

    .tail:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      top: 100%;
      left: 0px;
      border: 5px solid;
    }

    .optionsWrapper {
      flex-direction: row;
      border-radius: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: -14px;
      margin-bottom: 8px;
      margin-left: 35px;

      .pill {
        font-size: 16px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 30px;
        margin: 3px;
        text-decoration: none;
      }
    }
  }

  .clientMessageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1px;
    margin-left: 29px;

    .message {
      color: #000;
      padding: 8px;
      border-radius: 10px;
      word-break: break-word;
      position: relative;
      background-color: #f8f8f8;
    }

    .tail:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      top: 95%;
      right: 0px;
      border: 5px solid;
      border-color: #f8f8f8 #f8f8f8 transparent transparent;
    }

    .status {
      margin-top: 2px;
      font-size: 13px;
      margin-left: 1px;
      flex: 1;
    }
  }

  //footer

  .footer {
    align-self: flex-end;
    width: 100%;
    box-shadow: "0 4px 23px 0 rgba(0,0,0,.15)";
    z-index: 2;
    background-color: #fff;

    .chatinputform {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      height: 120px;
    }

    .chatinput {
      width: 100%;
      resize: none;
      border: none;
      box-shadow: none;
      outline: none;
      height: 50px;
      font-size: 15px;
      padding: 0px;
      height: 100%;
    }
    .replyto {
      font-size: 12px;
      margin-bottom: 8px;
      color: #999;
    }
  }
}

@media only screen and (max-width: 480px) {
  #piri-ai {
    .window {
      width: 100%;
    }

    .chatinputform {
      height: 40px !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }
}
